.header {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.header-content {
  display: flex;
  align-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.header-nav {
  display: flex;
  gap: 1rem;
}
